<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="../css/user/profile.css">
    <title>Profile</title>
</head>
    <%- include('../partials/header')%>
    <body>
        <div class = "contenedor">
            <br>
            <img src="../../../<%= users.avatar %>" class="profile-picture">
            <h2 class="saludo">Bienvenid@ <%= users.nombre+" "+users.apellido %></h2>
            <br>
            <h3 class="infoSaludo">Has ingresado con el correo: <%= users.email%></h3>
            <img src="../img/profileFile.webp" alt="">
        </div>
    </body>
</html>
