<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
</head>
<%- include('../partials/header')%>
    <main class="main-formulario">
        <div class="formulario">
            <h3 class="titulo-alta">Crear cuenta</h3>
            <form action="./register" method="POST" class="formulario-alta" enctype="multipart/form-data">
                <div class="control-formulario">
                    <div>
                        <label for="email">Ingrese eMail:</label>
                        <input type="email" name="email" id="email" class="control"
                            value="<%= locals.oldData ? oldData.email : null %>">
                        <span class="feedback"></span>
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div>
                        <label for="nombre">Ingrese nombre:</label>
                        <input type="text" name="nombre" id="nombre" class="control"
                            value="<%= locals.oldData ? oldData.nombre : null %>">
                        <span class="feedback"></span>
                        <% if (locals.errors && errors.nombre) { %>
                            <div class="text-danger">
                                <%= errors.nombre.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div>
                        <label for="password">Ingrese contraseña:</label>
                        <input type="password" name="password" id="password" class="control">
    
                        <span class="feedback"></span>
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div>
                        <label for="imagen">Ingresa tu foto:</label>
                        <input type="file" name="avatar" accept=".jpg,.png"
                            class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>" multiple>
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="text-danger">
                                <%= errors.avatar.msg %>
                            </div>
                            <% } %>
                                <span class="feedback"></span>
                    </div>
                    <div>
                        <button type="submit" class="boton-formulario">Crear Cuenta</button>
                        <button type="reset" class="boton-formulario">Borrar</button>
                    </div>
                </div>
            </form>   
        </div>
    </main>
</html>